# -------------------------
# Dependencies
# -------------------------
node_modules/
**/node_modules/

# -------------------------
# Build outputs
# -------------------------
dist/
build/
lib/
**/lib
build/Release

# -------------------------
# Environment & configs
# -------------------------
.env
.env.*
.eslintcache
.npm
.yarn-integrity
.idea/
.nx/cache
.nx/workspace-data

# -------------------------
# Logs
# -------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
ui-debug.log
emulator-*.log

# -------------------------
# Coverage & reports
# -------------------------
coverage/
**/coverage/
.nyc_output
lib-cov
.grunt

# -------------------------
# Package outputs
# -------------------------
*.tgz

# -------------------------
# Firebase
# -------------------------
.firebase/
.firebase/emulators/
.firebase/hosting.*
.firebase/functions/
.firebase/database/
.firebase/storage/
.firebase/auth/
.firebase/pubsub/
.firebase/extensions/
firebase-export*/
firestore_export*/
apphosting.local.yaml

# Emulator data & logs
.emulator/
emulator_data*/
emulator_data_backup*/
emulator_data-*/
emulator_data_dev/
emulator_data/firestore_export/**
emulator_data_dev/firestore_export/**
firebase-debug.*.log

# -------------------------
# System files
# -------------------------
*.pid
*.seed
*.pid.lock
.node_repl_history
.lock-wscript
bower_components/
.DS_Store
**/.DS_Store

# -------------------------
# Tools
# -------------------------
.turbo
